<div class="container text-center mx-auto">
  <div class="row mt-3">
  
    <div class="col-2 offset-md-2 mb-5">
    <div class="text-dark" style="background-color:#DDDDDD">会員情報編集</div>
    </div>
  </div>
  
  <%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>
  
  <div class="row">
      <div class="col-md-7 offset-md-1 mb-3">
          <table>
              <tr>
                  <th>氏名</th>
                  <td>
                      <%= f.text_field :last_name %>
                      <%= f.text_field :first_name %>
                  </td>
              </tr>
              <tr>
                  <th>フリガナ</th>
                  <td>
                      <%= f.text_field :last_name_kana %>
                      <%= f.text_field :first_name_kana %>
                  </td>
              </tr>
              <tr>
                  <th>郵便番号</th>
                  <td><%= f.text_field :postal_code %></td>
              </tr>
              <tr>
                  <th>住所</th>
                  <td><%= f.text_field :address %></td>
              </tr>
              <tr>
                  <th>電話番号</th>
                  <td><%= f.text_field :telephone_number %></td>
              </tr>
              <tr>
                  <th>メールアドレス</th>
                  <td><%= f.text_field :email %></td>
              </tr>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 offset-md-1">
            <%= f.submit "編集内容を保存", class: "btn btn-success" %>
        </div>
        <div class="col-md-2 offset-md-1">
            <%= link_to "退会する", customers_confirm_path, class: "btn btn-danger" %>
        </div>
    </div>
    
    <% end %>
</div>
   