<div class="container">
  <div class="row mt-3 text-center">
  
    <div class="col-2 offset-md-2 mb-5">
    <div class="text-dark" style="background-color:#DDDDDD">マイページ</div>
    </div>
  </div>
  
  <div class="row">
      <div class="col-md-2 offset-md-1 mb-3">
          <h5><strong>登録情報</strong></h5>
      </div>
      <div class="col-md-2 mb-3">
          <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success" %>
      </div>
  </div>
  
  <div class="row">
      <div class="col-md-6 offset-md-1 mb-3">
          <table border="1" class="table">
              <tr>
                  <th class="th" style="background-color:#DDDDDD">氏名</th>
                  <td><%= @customer.last_name + " " + @customer.first_name %></td>
              </tr>
              <tr>
                  <th class="th" style="background-color:#DDDDDD">カナ</th>
                  <td><%= @customer.last_name_kana + " " + @customer.first_name_kana %></td>
              </tr>
              <tr>
                  <th class="th" style="background-color:#DDDDDD">郵便番号</th>
                  <td><%= @customer.postal_code %></td>
              </tr>
              <tr>
                  <th class="th" style="background-color:#DDDDDD">住所</th>
                  <td><%= @customer.address %></td>
              </tr>
              <tr>
                  <th class="th" style="background-color:#DDDDDD">電話番号</th>
                  <td><%= @customer.telephone_number %></td>
              </tr>
              <tr>
                  <th class="th" style="background-color:#DDDDDD">メールアドレス</th>
                  <td><%= @customer.email %></td>
              </tr>
           </table>
       </div>
   </div>
   
   <div class="row">
       <div class="col-md-2 offset-md-1 mb-3">
           <strong>配送先</strong>
       </div>
       <div class="col-md-3">
           <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
       </div>
   </div>
   
    <div class="row">
       <div class="col-md-2 offset-md-1 mb-3">
           <strong>注文履歴</strong>
       </div>
       <div class="col-md-3">
           <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
       </div>
   </div>
 </div>
