<h1>商品一覧</h1>

<%= link_to "+", new_admin_item_path %>

<table>
    <thead>
     <tr>
       <th>商品ID</th>
       <th>商品名</th>
       <th>税抜価格</th>
       <th>ジャンル</th>
       <th>ステータス</th>
     </tr>
    </thead>
    <% @items.each do |item| %>
    <tbody>
     <tr>
        <td><%= item.id %></td>
        <td><%= link_to admin_item_url(item.id) do %>
            <p><%= item.name %></p>
        <% end %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td><%= item.is_active ? '販売中':'販売停止中' %></td>
     </tr>
    </tbody>
    <% end %>
</table>
    
<%= paginate @items %>