<h1>商品新規登録</h1>

<%= form_with model: @item do |f| %>
 <h4>商品画像</h4>
  <%= f.file :image, accept: "image/*" %><br>
 <h4>商品名</h4>
  <%= f.text_field :name %><br>
 <h4>商品説明</h4>
  <%= f.text_area :introduction %><br>
 <h4>ジャンル</h4>
<!--<h4>税抜き価格</h4>　円-->
<!--<h4>販売ステータス</h4>　販売中　販売中止　ラジオぼたん-->-->
 <%= f.submit '新規登録' %>
<% end %>

