<h1>商品詳細</h1>

<table>
 <tr>
   <%= image_tag @item.get_image(300,300) %>
 </tr>
 <tr>
  <th>商品名</th>
  <td><%= @item.name %></td>
 </tr>
 <tr>
  <th>商品説明</th>
  <td><%= @item.introduction %></td>
 </tr>
 <tr>
  <th>ジャンル</th>
  <td><%= @item.genre_id %></td>
 </tr>
 <tr>
  <th>税込価格（税抜価格）</th>
 </tr>
 <tr>
  <th>販売ステータス</th>
  <td><%= @item.is_active ? '販売中' : '販売停止中' %></td>
 </tr>
</table>
 
 <%= link_to '編集する',edit_admin_item_path(@item.id) %>
 