<div class="container text-center mx-auto">
  <div class="row">
  
    <div class="col-2 offset-md-2 mb-5">
    <div class="text-dark" style="background-color:#DDDDDD">管理者ログイン</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 offset-md-3">
    <%= form_with model: @admin, url: admin_session_path do |f| %>
    
    <div class="field row mb-3">
      <%= f.label :メールアドレス, class: "col-md-2 " %>
      <%= f.email_field :email, class: "col-md-4", placeholder:"sample@example.com", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field row mb-3">
      <%= f.label :パスワード, class: "col-md-2" %>
      <%= f.password_field :password, class: "col-md-4", autocomplete: "current-password" %>
    </div>
    <br>
    <div class="actions row">
      <div class="col-2"></div>
      <%= f.submit "ログイン", class:"btn btn-primary col-md-2" %>
    </div>
    <% end %>
    </div>
    
  </div>
</div>

