<h1>配送先編集</h1>

<%= form_with model: @address, url: address_path, method: :patch do |f| %>

 <table>
    <tr>
        <th>郵便番号</th>
        <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
        <th>住所</th>
        <td><%= f.text_field :address %></td>
    </tr>
    <tr>
        <th>宛名</th>
        <td><%= f.text_field :name %></td>
    </tr>
 </table>

 <%= f.submit "変更内容を保存" %>

<% end %>