<h1>注文情報確認</h1>

<table>
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <% @cart_items.each do |order| %>
        <tr>
            <td><%= image_tag order.item.get_image(100,200) %>
                <%= order.item.name %> 
            </td>
            <td><%= order.item.with_tax_price %></td>
            <td><%= order.amount %></td>
            <td><%= order.subtotal %></td>
        </tr>
         <% @total += order.subtotal %>
        <% end %>
    </tbody>
</table>
<table>
   <tr>
       <th>送料</th>
       <td><%= @shipping_cost %></td>
   </tr>
   <tr>
       <th>商品合計</th>
       <td><%= @total %></td>
   </tr>
   <tr>
       <th>請求金額</th>
       <td><%= @total + @shipping_cost %></td>
   </tr>
</table>

<div>支払い方法</div>
<%= @order.payment_i18n %>

<div>お届け先</div>
<%= @order.shipping_postal_code + @order.shipping_address + @order.shipping_name %>

<%= form_with model: @order, url: orders_path, method: :post do |f| %>

<%= f.hidden_field :payment, :value => @order.payment %>

<%= f.submit "注文を確定する" %>

<% end %>