<!--< if @item.is_active == TRUE %> 商品販売中の場合-->

 <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>

  <%= image_tag @item.get_image(100,200) %>

  <div>
   <%= @item.name %><br>
   <%= @item.introduction %><br>
   ¥<%= @item.price %>(税込)
  </div>

  <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.submit "カートに入れる" %>
 <% end %>
<!--< end %>-->
    