         ようこそ、<%= current_customer.last_name %>さん！
         
         <li class="nav-item">
            <%= link_to "マイページ", customers_mypage_path, class:'mr-3 btn btn-outline-secondary nav-link text-darkbtn' %>
         </li>
         <li class="nav-item">
            <%= link_to "商品一覧", items_path, class:'mr-3 btn btn-outline-secondary nav-link text-dark' %>
         </li>
         <li class="nav-item">
            <%= link_to "カート", cart_items_path, class:'mr-3 btn btn-outline-secondary nav-link text-dark' %>
         </li>
         <li class="nav-item">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:'mr-3 btn btn-outline-secondary nav-link text-dark' %>
         </li>