         ようこそ、<%= current_customer.last_name %>さん！
         
         <li>
            <%= link_to "マイページ", customers_mypage_path %>
         </li>
         <li>
            <%= link_to "商品一覧", items_path %>
         </li>
         <li>
            <%= link_to "カート", cart_items_path %>
         </li>
         <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
         </li>