<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if request.fullpath.include? "/admin" %>
  <!--//admin側のheaderを返す-->
        <% if admin_signed_in? %>
         <li>商品一覧</li>
         <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
         </li>
        <% else %>
         <li>
          <%= link_to "新規登録", new_admin_registration_path %>
         </li>
         <li>
          <%= link_to "ログイン", new_admin_session_path %>
         </li>
        <% end %>
      <% else %>
  <!--// user側のheaderを返す-->
        <p>user header</p>
      <% end %>
     
    </header>
    <%= yield %>
  </body>
</html>
